@import url('https://fonts.googleapis.com/css?family=Montserrat');

:root {
  --navbar-color: #ac423a;

  --map-background-color-button: #31333b;
  --map-text-color-button: #fff;

  --raised-background-color: #31333b;
  --raised-text-color: #fff;

  --tabs-border-color: #ac423a;
  --tabs-wrapper-border-color: #454752;
  --tabs-text-color-active: #ac423a;
  --tabs-text-color: #fff;

  --footer-text-color: #fff;
}

* {
  margin: 0;
  padding: 0;
}
h1{
  display: flex;
  margin-top: 20px;
  justify-content: center;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  color: var(--navbar-color);
}
body {
  overflow-x: hidden;
  background-color: #2a2b31;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h3 {
  padding-bottom: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.gmnoprint, 
.gm-style-cc,
[alt=Google] {
  display: none;
}