@import url('https://fonts.googleapis.com/css?family=Montserrat');

:root {
	--float-button-background: #ac423a;
	--float-button-text-color: #31333b;

	--filter-text-color: #fff;
	--filter-background-color: #31333b;

	--navbar-color: #ac423a;

	--map-background-color-button: #31333b;
	--map-text-color-button: #fff;

	--raised-background-color: #31333b;
	--raised-text-color: #fff;

	--tabs-border-color: #ac423a;
	--tabs-wrapper-border-color: #454752;
	--tabs-text-color-active: #ac423a;
	--tabs-text-color: #fff;

	--member-text-color: #fff;
	--member-img-member-border: #ac423a;

	--footer-text-color: #fff;
}

* {
	margin: 0;
	padding: 0;
}

h1 {
	display: flex;
	margin-top: 20px;
	justify-content: center;
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	color: var(--navbar-color);
}

body {
	overflow-x: hidden;
	background-color: #2a2b31;
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h3 {
	padding-bottom: 10px;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.center {
	text-align: center;
}

.gmnoprint,
.gm-style-cc,
[alt=Google] {
	display: none;
}

.MemberIcon {
	fill: #ac423a;
	transition: all .2s;
	padding: 10px;
	color: var(--member-text-color);
}

.MemberIcon:hover {
	fill: #ffffff;
}